.container{
  background: blue;
  width: 1000px;
  height: 700px;
  margin: auto;
  margin-top: 15px;
}

#title{
  text-align: center;
}

#algoritm-selector-container{
  width: 100%;
  height: 200px;
  background: green;
}

.graphic-background{
  width: 90%;
  height: 500px;
  background: black;
  margin: auto;
  margin-top: 50px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.rectangle{
  width: 7px;
  background: white;
  position: absolute;
  bottom: 0;
}
