.graphic-background{
  width: 90%;
  height: 500px;
  background: black;
  margin: auto;
  margin-top: 50px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.rectangle{
  width: 5px;
  background: white;
  position: absolute;
  bottom: 0;
}
